/* highlight.js — github-dark theme, trimmed.
 * From https://github.com/highlightjs/highlight.js / MIT licensed. */
.hljs              { color:#e6edf3; background:transparent; }
.hljs-comment,
.hljs-quote        { color:#8b949e; font-style:italic; }
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst        { color:#ff7b72; }
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr { color:#79c0ff; }
.hljs-string,
.hljs-doctag       { color:#a5d6ff; }
.hljs-title,
.hljs-section,
.hljs-selector-id  { color:#d2a8ff; font-weight:600; }
.hljs-type,
.hljs-class .hljs-title { color:#ffa657; }
.hljs-tag,
.hljs-name,
.hljs-attribute    { color:#7ee787; }
.hljs-regexp,
.hljs-link         { color:#ff7b72; }
.hljs-symbol,
.hljs-bullet       { color:#ff7b72; }
.hljs-built_in,
.hljs-builtin-name { color:#ffa657; }
.hljs-meta         { color:#8b949e; }
.hljs-deletion     { background:#67060c; }
.hljs-addition     { background:#033a16; }
.hljs-emphasis     { font-style:italic; }
.hljs-strong       { font-weight:700; }
