/* highlight.js — github (light) theme, trimmed.
 * From https://github.com/highlightjs/highlight.js / MIT licensed. */
.hljs              { color:#1f2328; background:transparent; }
.hljs-comment,
.hljs-quote        { color:#6e7781; font-style:italic; }
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst        { color:#cf222e; }
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr { color:#0550ae; }
.hljs-string,
.hljs-doctag       { color:#0a3069; }
.hljs-title,
.hljs-section,
.hljs-selector-id  { color:#8250df; font-weight:600; }
.hljs-type,
.hljs-class .hljs-title { color:#953800; }
.hljs-tag,
.hljs-name,
.hljs-attribute    { color:#116329; }
.hljs-regexp,
.hljs-link         { color:#a40e26; }
.hljs-symbol,
.hljs-bullet       { color:#cf222e; }
.hljs-built_in,
.hljs-builtin-name { color:#953800; }
.hljs-meta         { color:#6e7781; }
.hljs-deletion     { background:#ffebe9; }
.hljs-addition     { background:#dafbe1; }
.hljs-emphasis     { font-style:italic; }
.hljs-strong       { font-weight:700; }
